$zero-ui-prefix: '.zero-ui-menu';

#{$zero-ui-prefix} {
  .nav-item {
    position: relative;
    .nav-link {
      font-size: var(--fontSize, 16px);
      position: relative;
      display: inline-block;
      margin: 20px 30px;
      color: var(--nav-color);
      &::after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0;
        height: 2px;
        background-color: transparent;
        transition: all 0.3s ease 0s;
      }
      &:hover {
        color: var(--nav-hover-color);
        &::after {
          width: 100%;
          background-color: var(--nav-hover-color);
        }
      }
    }
  }
}
