$zero-ui-prefix: '.zero-ui-navbar';

#{$zero-ui-prefix} {
  .nav-item {
    .nav-link {
      position: relative;
      color: var(--nav-color);
      padding: 0;
      padding-bottom: 3px;
      &::after {
        content: ' ';
        display: block;
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: transparent;
        transition: all 0.3s ease 0s;
      }
      &:hover {
        color: var(--nav-hover-color);
        &::after {
          width: 100%;
          background-color: var(--nav-hover-color);
        }
      }
    }
  }
}
